header {
  background-color: #ce00ec;
  color: #fffaaa;
  text-align: center;
}

main {
  padding: 1em;
  background-color: lightgrey;
}

body {
  /* background-image: url(Untitled14_20220114153742.png); just was seeing how it would look patterned differently */
  background-image: url(record.png);
  margin: 0px;
}

h2 {
  margin-bottom: 0px;
}

h6 {
  margin-top: 0px;
}
